.idea
*.a
*.app
*.autosave
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.moc
*.mod
*.o
*.obj
*.out
*.pch
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.slo
*.smod
*.so
*build-*
*moc*.cpp
/.qmake.cache
/.qmake.stash
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
install_manifest.txt
main.cpp
Makefile
Makefile*
qrc_*.cpp
ui_*.h
yds
